<div class="col-12 col-xl-4">
    <div>
        <h3 class="kanit text-light">บทความการศึกษา</h3>
    </div>
    <div>
        <div>
            <h5>ทดสอบบทความ</h5>
            <p class="sarabun">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi quo excepturi obcaecati ipsam animi dolores dolorum doloribus a possimus voluptas.</p>
        </div>
    </div>
</div>