<div class="container-fluid d-flex justify-content-center pt-2 bg-footer" style="background-color: rgba(0, 0, 0, 0.6);">
    <div class="d-flex flex-column align-items-center">
        <img class="p-1" src="/images/logo.png" width="35px">
        <h6 class="text-light">นักเรียนโฟลิโอ</h6>
        <p class="text-light">since 2020.</p>
    </div>
</div>