<div class="">
    <div class="container">
        <div class="col-12">
            <div class="row">
                <div class="d-none d-xl-flex col-xl-3">
                    <img class="p-4" src="/images/logo.png" width="100%">
                </div>
                <div class="col-12 col-xl-9">
                    <div class="pt-3 p-xl-4">
                        <h3 class="kanit-bold">NAKIANFOLIO พื้นที่แบ่งปันการทำ Portfolio</h3>
                        <p class="sarabun">
                           นักเรียนโฟลิโอ เกิดจากกลุ่มคนรุ่นใหม่ที่อยากสร้างพื้นที่แบ่งปันไอเดียการทำ Portfolio เพื่อช่วยให้น้องๆ ที่ต้องการตวามรู้การออกแบบในการทำ Portfolio ที่เป็นเรื่องยาก เราตั้งใจที่อยากจะถ่ายทอดความรู้นี้ให้ง่ายที่สุด และคนที่ได้รับความรู้จากเราส่งต่อความรู้ หรือใช้เป็นประโยชน์ต่อไปเรื่อยๆ
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>