<% if (locals.session) { %>
    <div class="offcanvas offcanvas-end bg-dark" id="demo">
        <div class="offcanvas-header">
            <h1 class="offcanvas-title">บัญชีผู้ใช้</h1>
            <button type="button" class="btn-close bg-light" data-bs-dismiss="offcanvas"></button>
        </div>
        <div class="offcanvas-body">
            <p>Some text lorem ipsum.</p>
            <p>Some text lorem ipsum.</p>
            <p>Some text lorem ipsum.</p>
            <button class="btn btn-secondary" type="button">A Button</button>
        </div>
    </div>
    <% } %>

        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-gradient-color">
            <div class="container-fluid justify-content-between">
                <div>
                    <a class="navbar-brand" href="/"><img src="/images/logo.png" height="35px" alt="" srcset=""></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <a class="navbar-brand kanit-bold gradient-color" href="/">NakrianFOLiO</a>
                </div>
                <div>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/">หน้าแรก</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">แฟ้มสะสมผลงาน</a>
                            </li>
                            <li class="nav-item dropdown disabled">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Dropdown
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link disabled">Disabled</a>
                            </li>
                            <% if (locals.session) { %>
                                <li class="nav-item dropdown">
                                    <a class="nav-link" type="button" data-bs-toggle="offcanvas" data-bs-target="#demo">
                                        บัญชีผู้ใช้
                                    </a>
                                </li>
                                <% } else { %>
                                    <li class="nav-item">
                                        <a href="/login" class="nav-link">เข้าสู่ระบบ</a>
                                    </li>
                                    <% } %>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>